.bg-music {
    /* position: absolute; */
    top: 30%;
    left: 40%;
    padding-right: 100%;
    
}

.btn {
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    border: none;
    display: block;
    margin: 0 auto;
    opacity: .4;
    transition: all linear .2s;
}

.btn:hover {
    opacity: 1;
}

.bx-pause-circle {
    display: none;
}